* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}


body {
    overflow-x: hidden;
}

.page_one_img {
    width: 1000px;
    height: 700px;
    background-color: #f9c935;
    border-radius: 350px;
    overflow: hidden;
}

.page_one_background_img {
    height: 100vh;
    position: absolute;
    top: -160px;
    right: -200px;
    transform: rotate(-45deg);
    z-index: -1;
}

.page_one_img img {
    width: 1050px;
    transform: rotate(45deg);
    margin-top: 50px;
    margin-left: -270px;
     }


/*nav bar*/
.navbar {
    display: flex;
    height: 90px;
    align-items: center;
    width: 1100px;
    margin: auto;
    justify-content: space-between;
}

.navbar_stiky {
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 100;
}

.navbar img {
    width: 100px;
}

.navbar ul {
    display: flex;
    width: 600px;
    justify-content: space-between;
    margin-left: 180px;
}

.navbar ul li {
    cursor: pointer;
    position: relative;
    list-style: none;
    color: blue;
    padding-bottom: 6px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
}

.navbar ul li::before {
    content: "";
    width: 0px;
    height: 3px;
    position: absolute;
    bottom: 0%;
    left: 0%;
    transition: all 0.5s;
    background-color: orange;
}

.navbar ul li:hover::before {
    width: 100%;
}

.navbar button {
    padding: 10px 20px;
    border-radius: 20px 15px 0px 20px;
    font-size: 16px;
    background-color: black;
    cursor: pointer;
    color: orange;
    border: 1px solid black;
    font-weight: bold;
    transition: color 5s;
    transition: 0.5s;
    box-shadow: 0px 0px 5px 5px #1E7C6E;
}
.navbar button:hover
{
    width: 10%;
}


.ChangeBgcolor {
    background-color: yellow;
}


/*nav bar*/
.page_one_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
    margin-left: 180px;
    margin-top: 30px;
}

.page_one_text h1 {
    font-size: 50px;
    font-weight: 100;
    color: #2c2b2b;
}

.page_one_text p {
    font-size: 21px;
    letter-spacing: 1px;
    font-weight: 100;
    color: #525050;
    line-height: 31px;
    margin-top: 30px;
}

.page_one_text_btn {
    margin-top: 30px;
}

.page_one_text_btn button {
    padding: 15px 25px;
    border-radius: 25px 25px 25px 0px;
    font-size: 17px;
    background-color: yellow;
    color: black;
    border: none;
    margin-right: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0px 0px 5px 5px #1E7C6E;
}

#black_btn {
    border-radius: 25px 25px 0px 25px;
    background-color: orange;
    transition: 0.5s;
    box-shadow: 0px 0px 5px 5px #1E7C6E;
    }
#black_btn:hover{
    width: 10%;

}
.page_one_text_btn button:hover{
    width: 10%;
}




.page_seven {


    background-color: black;
}

.page_seven_footer {
    color: white;
    display: flex;
    width: 1000px;
    justify-content: space-between;
    margin: auto;
}

.page_seven_box {
    display: flex;
    flex-direction: column;
}

.page_seven_box a {
    font-size: 18px;
    /*margin: 30px 0;*/
    color: lightyellow; 
}


.page_seven_box img {
    margin-bottom: 20px;
     box-shadow: 0px 0px 5px 5px lightyellow;
    transition: transform 3s;
}
.page_seven_box img:hover{
    transform: scale(1.05);
}

.page_seven_box p {
    margin: 10px 0;
}

.page_seven_box h4 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: normal;
}

.page_seven_social_icons {
    width: 150px;
    display: flex;
    justify-content: space-between;
    
}

.social_icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social_icons h4 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: normal;
}

.social_icons i {
    font-size: 22px;
    color: blue;
    transition: transform 3s;
    box-shadow: 0px 0px 5px 5px gray;
    
}

.copyright {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background-color: black;
    color: orange;
} 
.page_seven_social_icons i: hover{
    color: gray;
    transform: scale(1.5s);
}   